.account {
  display: inline-flex;
  align-items: center;
  border-radius: 21px;
  border: 1px solid #DDD;
  background: #FFF;
  padding: 6px 6px 6px 13px;
  align-items: center;
  gap: 12px;
}

.account__nav-icon {
  display: flex;
  align-items: center;
}

.account__avatar {
  display: flex;
  align-items: center;
}